<%= render 'shared/page_heading', title: "Self-Experimentation", description: "Is it time for a change? Based on your past reflections and self-reports you can experiment with the settings of your existing habits, add and remove habits." do %>
<% end %>

<div class="flex flex-row pb-4 mb-4">
  <div class="grid grid-cols-3 gap-4">
    <div class="rounded border border-gray-100 bg-gray-50 p-4">
      <div class="font-medium text-gray-700 text-xs">
        Current Period
      </div>
      <div class="mt-2 text-lg font-semibold text-gray-800">
        Last 7 days
      </div>

      <div class="mt-2 font-medium text-gray-600 text-xs">
        <%= @current_period_start.to_date.strftime("%d.%m.%y") %> <%= " - " + @current_period_end.strftime("%d.%m.%y") %>
      </div>
    </div>
    <% if @has_data_before_start_date %>

      <div class="rounded border border-gray-100 bg-gray-50 p-4">
        <div class="font-medium text-gray-700 text-xs">
          Previous Period
        </div>
        <div class="mt-2 text-lg font-semibold text-gray-800">
          Previous 7 days
        </div>

        <div class="mt-2 font-medium text-gray-600 text-xs">
          <%= @last_period_start.to_date.strftime("%d.%m.%y") %> <%= " - " + @last_period_end.to_date.strftime("%d.%m.%y") %>
        </div>
      </div>

    <% end %>
  </div>
</div>


<div class="flow-root">
  <% @goals.each do |goal| %>
    <div class="flex flex-row mb-12 border-b border-gray-200 pb-8">
      <div class="flex-grow">
        <h2 class="text-2xl font-serif mb-2"><i class="far fa-bullseye-arrow text-xl mx-auto"></i> <%= goal.title %></h2>


        <% goal.experience_sample_configs.each do |self_report| %>

          <%
            current_self_reports = self_report.samplings.where('scheduled_at >= ?', @current_period_start).where('scheduled_at <= ?', @current_period_end)
            previous_self_reports = self_report.samplings.where('scheduled_at >= ?', @last_period_start).where('scheduled_at <= ?', @last_period_end)
          %>

          <%= render "self_report_chart_header", self_report: self_report, current_self_reports: current_self_reports, previous_self_reports: previous_self_reports %>
          <%= render "self_report_chart", self_report: self_report, current_self_reports: current_self_reports, previous_self_reports: previous_self_reports %>
        <% end %>
        <% if goal.habits.any? %>
          <%= render "habit_schedule_chart", habits: goal.habits %>
        <% end %>
        <%= render partial: "habit", collection: goal.habits %>
        <%= render "add_habits", goal: goal %>
      </div>
    </div>
    <%= render "add_habits_modal", goal: goal %>
    <%= render "new_habit_modal", goal: goal %>
  <% end %>
</div>
