<%= render 'shared/page_heading', title: "Self-Reports", description: "Self-Reports help you to continuously monitor and self-report important metrics to track your progress over time." do %>
  <%= link_to 'New Self-Report', new_experience_sample_config_path, class: "btn btn-primary flex whitespace-nowrap" %>
<% end %>


<div class="bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <% @experience_sample_configs.each do |sampling| %>
      <li>
        <a href="<%= experience_sample_config_url(sampling) %>" class="block hover:bg-gray-50">
          <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center justify-between">
              <div class="flex flex-col">
                <p class="text-sm font-medium text-gray-900 truncate">
                  <%= sampling.title %>
                </p>
                <p class="text-sm text-gray-500 truncate">
                  <%= sampling.prompt %>
                </p>
              </div>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
              <div class="sm:flex">
                <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                  <i class="far fa-user mr-2"></i>
                  <%= sampling.user.username %>
                </p>
              </div>
              <div class="sm:flex">
                <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                  <i class="far fa-calendar-alt mr-2"></i>
                  <p>
                    <%= sampling.recurrence_on.map{|day| day.slice(0,2)}.join(', ') %> at <%= sampling.recurrence_at %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>