<%= render 'shared/page_heading', title: "Self-Reports", description: "Self-Reports help you to continuously monitor and self-report important metrics to track your progress over time." do %>
  <%= link_to 'New Self-Report', new_experience_sample_config_path, class: "btn btn-primary flex whitespace-nowrap" %>
<% end %>

<% if policy(ExperienceSampleConfig).see_all? %>
  <div class="flex flex-row mb-4 items-center justify-end">
    <%= render 'shared/buttongroup', options: [{ title: "All", link: experience_sample_configs_path}, { title: "Own", link: experience_sample_configs_path(:show => :own)}, { title: "Trash", link: experience_sample_configs_path(:show => :trash)}] %>
  </div>
<% end %>


<%= render 'shared/boxed_list' do %>
  <% @experience_sample_configs.each_with_index do |sampling,index| %>
    <%= render 'self_report_config_list', sampling: sampling, index: index %>
  <% end %>
<% end %>