<%= render 'shared/page_heading', title: "Sampling: #{@experience_sample_config.title}", description: "" do %>
  <%= link_to 'Edit', edit_experience_sample_config_path(@experience_sample_config), class: "btn btn-primary flex whitespace-nowrap" %>
<% end %>

<div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
  <i class="far fa-calendar-alt mr-2"></i>
  <p>
    <%= @experience_sample_config.recurrence_on.map{|day| day.slice(0,2)}.join(', ') %> at <%= @experience_sample_config.recurrence_at %>
  </p>
</div>

<div class="sm:flex">
  <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
    <i class="far fa-user mr-2"></i>
    <%= @experience_sample_config.user.username %>
  </p>
</div>

<div class="my-4">
  <h3>Preview:</h3>
  <%= render 'preview', sampling: @experience_sample_config %>
</div>
<h3>Chart:</h3>
<% data = { foo: :bar} %>
<%= content_tag :canvas, id: "myChart", class: "sampling-chart", data: { chart: @chart.to_json } do %><% end %>



<h3>Samplings:</h3>

<%= render 'shared/table/wrapper' do %>
  <thead class="bg-gray-50">
    <tr>
      <%= render 'shared/table/heading', title: "ID" %>
      <%= render 'shared/table/heading', title: "Scheduled at" %>
      <%= render 'shared/table/heading', title: "Sampled at" %>
      <%= render 'shared/table/heading', title: "Skipped at" %>
      <%= render 'shared/table/heading', title: "Value" %>
    </tr>
  </thead>
  <tbody>
    <% @samplings.each_with_index do |sampling,index| %>
      <!-- Odd row -->
      <%= render 'shared/table/row', odd: index.even? do %>
        <%= render 'shared/table/cell' do %>
          <%= sampling.id %>
        <% end %>
        <%= render 'shared/table/cell' do %>
          <%= sampling.scheduled_at.strftime("%F %H:%M") %>
        <% end %>
        <%= render 'shared/table/cell' do %>
          <%= sampling.sampled_at&.strftime("%F %H:%M") %>
        <% end %>
        <%= render 'shared/table/cell' do %>
          <%= sampling.skipped_at&.strftime("%F %H:%M") %>
        <% end %>
        <%= render 'shared/table/cell', css_class: 'font-medium' do %>
          <%= sampling.value %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
<% end %>


