<%= render 'shared/page_heading', title: "Sampling: #{@experience_sample_config.title}", description: "" do %>
  <%= link_to 'Edit', edit_experience_sample_config_path(@experience_sample_config), class: "btn btn-primary flex whitespace-nowrap" %>
<% end %>

<p>
  <strong>Prompt:</strong>
  <%= @experience_sample_config.prompt %>
</p>

<p>
  <strong>Scale steps:</strong>
  <%= @experience_sample_config.scale_steps %>
</p>

<p>
  <strong>Scale label start:</strong>
  <%= @experience_sample_config.scale_label_start %>
</p>

<p>
  <strong>Scale label center:</strong>
  <%= @experience_sample_config.scale_label_center %>
</p>

<p>
  <strong>Scale label end:</strong>
  <%= @experience_sample_config.scale_label_end %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @experience_sample_config.schedule %>
</p>

<p>
  <strong>User:</strong>
  <%= @experience_sample_config.user_id %>
</p>


<h2>Chart:</h2>
<% data = { foo: :bar} %>
<%= content_tag :canvas, id: "myChart", class: "sampling-chart", data: { chart: @chart.to_json } do %><% end %>



<h3>Samplings:</h3>

<%= render 'shared/table/wrapper' do %>
  <thead class="bg-gray-50">
    <tr>
      <%= render 'shared/table/heading', title: "ID" %>
      <%= render 'shared/table/heading', title: "Scheduled at" %>
      <%= render 'shared/table/heading', title: "Sampled at" %>
      <%= render 'shared/table/heading', title: "Value" %>
    </tr>
  </thead>
  <tbody>
    <% @samplings.each_with_index do |sampling,index| %>
      <!-- Odd row -->
      <%= render 'shared/table/row', odd: index.even? do %>
        <%= render 'shared/table/cell' do %>
          <%= sampling.id %>
        <% end %>
        <%= render 'shared/table/cell' do %>
          <%= sampling.scheduled_at.strftime("%F %H:%M") %>
        <% end %>
        <%= render 'shared/table/cell' do %>
          <%= sampling.sampled_at&.strftime("%F %H:%M") %>
        <% end %>
        <%= render 'shared/table/cell', css_class: 'font-medium' do %>
          <%= sampling.value %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
<% end %>


