<%= render 'shared/page_heading', title: "Reflections", description: "Reflections help you to look back on your day / week and decide which habits have helped you to achieve your goals." do %>
  <%= link_to 'New Reflection', new_reflection_path, class: "btn btn-primary flex whitespace-nowrap" %>
<% end %>

<div class="flow-root">
  <ul class="-mb-8">
    <% @reflections.each_with_index do |reflection,index| %>
      <li>
        <div class="relative pb-8">
          <% if @reflections.length > 1 and index != @reflections.length-1 %>
            <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <% end %>
          <div class="relative flex items-start space-x-3">
            <div class="relative">
              <div class="h-10 w-10 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center">
                <i class="h-5 w-5 text-gray-500 fas fa-pen-nib "></i>
              </div>
            </div>
            <div class="min-w-0 flex-1">
              <div>
                <div class="text-sm">
                  <a href="#" class="font-medium text-gray-900">Reflection #<%= @reflections.length - index %></a>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">
                  Created <%= time_ago_in_words(reflection.created_at) %> ago
                </p>
              </div>
              <div class="mt-2 text-sm text-gray-700">
                <p>
                  <%= reflection.description %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>


