<div class="max-w-3xl w-full mx-auto sm:px-6 lg:px-8 grid grid-rows-1 grid-cols-3 items-center">
  <a href="#" class="justify-self-start">
    <%= image_tag "yaht-logomark.svg", class: "mx-auto w-auto h-6", alt: "yaht - yet another habit tracker" %>
  </a>
  <div class="flex flex-col relative justify-self-center self-center" x-data="{ open: false }" @click.away="open=false">
    <!-- Main Menue Button -->
    <div class="flex flex-row mx-auto my-3 items-center cursor-pointer text-gray-700 hover:text-gray-900 transition-all" @click="open=!open">
      <div class="font-medium mr-1">Menu</div>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <!-- Menue -->
    <div class="absolute origin-top top-full transform left-1/2 -translate-x-1/2 bg-white p-2 w-96 rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-10 "
         x-show="open"
         x-transition:enter="transition ease-out duration-100"
         x-transition:enter-start="transform opacity-0 scale-95"
         x-transition:enter-end="transform opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75"
         x-transition:leave-start="transform opacity-100 scale-100"
         x-transition:leave-end="transform opacity-0 scale-95"
    >
      <div class="grid grid-cols-3 gap-3">
        <a href="<%= dashboard_url %>" class="flex flex-col transition rounded-lg bg-white text-gray-600 hover:bg-gray-100 hover:text-gray-700 cursor-pointer p-5">
          <div class="flex">
            <i class="far fa-home-lg-alt text-2xl mx-auto"></i>
          </div>
          <div class="text-center font-medium mt-2">Home</div>
        </a>
        <a href="<%= goals_url %>" class="flex flex-col transition rounded-lg bg-white text-gray-600 hover:bg-gray-100 hover:text-gray-700 cursor-pointer p-5">
          <div class="flex">
            <i class="far fa-bullseye-arrow text-2xl mx-auto"></i>
          </div>
          <div class="text-center font-medium mt-2">Goals</div>
        </a>
        <a href="<%= habits_url %>" class="flex flex-col transition rounded-lg bg-white text-gray-600 hover:bg-gray-100 hover:text-gray-700 cursor-pointer p-5">
          <div class="flex">
            <i class="far fa-stars text-2xl mx-auto"></i>
          </div>
          <div class="text-center font-medium mt-2">Habits</div>
        </a>
        <a href="<%= reflections_url %>" class="flex flex-col transition rounded-lg bg-white text-gray-600 hover:bg-gray-100 hover:text-gray-700 cursor-pointer p-5">
          <div class="flex">
            <i class="far fa-pen-nib text-2xl mx-auto"></i>
          </div>
          <div class="text-center font-medium mt-2">Reflections</div>
        </a>
        <a href="<%= experience_sample_configs_url %>" class="flex flex-col transition rounded-lg bg-white text-gray-600 hover:bg-gray-100 hover:text-gray-700 cursor-pointer p-5">
          <div class="flex">
            <i class="far fa-ruler-triangle text-2xl mx-auto"></i>
          </div>
          <div class="text-center font-medium mt-2">Self-Reports</div>
        </a>
      </div>
    </div>
  </div>
  <div class="relative inline-block text-left justify-self-end" x-data="{ open: false }" @click.away="open=false">
    <div>
      <button type="button" class="h-8 w-8 bg-gray-400 items-center justify-center flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" id="user-menu-button" aria-expanded="false" aria-haspopup="true" @click="open=!open">
        <span class="text-sm font-medium leading-none text-white"><%= current_user.username[0,1].upcase %></span>
      </button>
    </div>
    <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none z-10" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
         x-show="open"
         x-transition:enter="transition ease-out duration-100"
         x-transition:enter-start="transform opacity-0 scale-95"
         x-transition:enter-end="transform opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75"
         x-transition:leave-start="transform opacity-100 scale-100"
         x-transition:leave-end="transform opacity-0 scale-95"
    >
      <div class="px-4 py-3" role="none">
        <p class="text-sm" role="none">
          Signed in as
        </p>
        <p class="text-sm font-medium text-gray-900 truncate" role="none">
          <%= current_user.username %>
        </p>
      </div>
      <div class="py-1" role="none">
        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
        <%= link_to "Settings", settings_path(current_user), class: "text-gray-700 block px-4 py-2 text-sm hover:text-gray-900" %>
      </div>
      <div class="py-1" role="none">
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true }, class: "text-gray-700 block w-full text-left px-4 py-2 text-sm hover:text-gray-900" %>
      </div>
    </div>
  </div>
</div>