<div class="">
  <div class="relative pt-6 pb-6" x-data="{ open: false }">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
        <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
          <div class="flex items-center justify-between w-full md:w-auto">
            <a href="<%= root_url %>">
              <%= image_tag "yaht-logo.svg", class: "mx-auto w-auto h-8", alt: "yaht - yet another habit tracker" %>
            </a>
            <div class="-mr-2 flex items-center md:hidden">
              <button type="button" @click="open=true" class="bg-gray-50 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-900" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!-- Heroicon name: outline/menu -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="hidden md:flex md:space-x-10">
          <!--
          <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Product</a>

          <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Features</a>

          <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Marketplace</a>

          <a href="#" class="font-medium text-gray-500 hover:text-gray-900">Company</a>
          -->
        </div>
        <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
          <%= link_to "Log in", new_user_session_url,  class: "btn btn-secondary inline-flex mr-2" %>
          <%= link_to "Sign up for free", new_user_registration_url,  class: "btn btn-primary inline-flex" %>
        </div>
      </nav>
    </div>

    <!--
      Mobile menu, show/hide based on menu open state.

      Entering: "duration-150 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden z-10"
         x-show="open"
         x-transition:enter= "duration-150 ease-out"
         x-transition:enter-start="opacity-0 scale-95"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="duration-100 ease-in"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-95"
    >
      <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
        <div class="px-5 pt-4 flex items-center justify-between">
          <div>
            <a href="<%= root_url %>">
              <%= image_tag "yaht-logomark.svg", class: "w-auto h-6", alt: "yaht - yet another habit tracker" %>
            </a>
          </div>
          <div class="-mr-2">
            <button type="button" @click="open=false" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-900">
              <span class="sr-only">Close main menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="px-2 pt-2 pb-3 space-y-1">
          <!--
          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Product</a>

          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Features</a>

          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Marketplace</a>

          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50">Company</a>
          -->
        </div>
        <div class="p-2">
          <%= link_to "Log in", new_user_session_url,  class: "btn btn-secondary block w-full mb-2" %>
          <%= link_to "Sign up for free", new_user_registration_url,  class: "btn btn-primary block w-full" %>
        </div>
      </div>
    </div>

  </div>
</div>