<%
  steps ||= 4
  current_step ||= 1
%>

<nav class="flex items-center justify-center my-8" aria-label="Progress">
  <p class="text-sm font-medium">Step <%= current_step %> of <%= steps %></p>
  <ol class="ml-8 flex items-center space-x-5">
    <% steps.times do |step| %>
      <li>
        <% if step+1 < current_step %>
          <!-- Completed Step -->
          <div class="block w-2.5 h-2.5 bg-gray-900 rounded-full">
            <span class="sr-only">Step <%= step + 1 %></span>
          </div>
        <% elsif step+1 == current_step %>
          <!-- Current Step -->
          <div class="relative flex items-center justify-center" aria-current="step">
              <span class="absolute w-5 h-5 p-px flex" aria-hidden="true">
                <span class="w-full h-full rounded-full bg-gray-200"></span>
              </span>
            <span class="relative block w-2.5 h-2.5 bg-gray-900 rounded-full" aria-hidden="true"></span>
            <span class="sr-only">Step <%= step + 1 %></span>
          </div>
        <% else %>
          <!-- Upcoming Step -->
          <div class="block w-2.5 h-2.5 bg-gray-200 rounded-full">
            <span class="sr-only">Step <%= step + 1 %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>