<%= render 'steps', steps: 5, current_step: 2 %>
<div class="my-8">
  <h1>Select Habits</h1>
  <div class="text-gray-600 space-y-2 mb-8">
    <p>We'll begin by suggesting a number of habits that you could try to establish. Each habit is tied to a goal and has a schedule that determines how often you'll be reminded to do it. You can adjust the schedule to your needs after you've selected it.</p>
    <p>You can also add your own goals and habits later on.</p>
  </div>

  <%= form_with(url: onboarding_habits_path, method: "post") do |form| %>
    <div class="grid">
      <div class="" x-data="{ selected: null }">
        <ul class="">
          <% @goals.each do |goal_id, habits| %>
            <li class="relative mb-4">
              <div class="font-medium bg-opacity-50 bg-gray-100 cursor-pointer border-2 hover:bg-opacity-100 duration-300 p-3 rounded-lg flex justify-between w-full px-6 py-4"
                :class="{ 'border-transparent': selected === <%=goal_id%>, 'border-gray-900': selected === <%=goal_id%> }"
                @click="$dispatch('goal-selected', { selected }), selected !== <%=goal_id%> ? selected = <%=goal_id%> : selected = null"
              >
                <div>
                  <h3 class="mb-1"><%= habits.first.goal.title %></h3>
                  <p class="text-sm text-gray-500"><%= habits.first.goal.description %></p>
                </div>
              </div>
              <div class="relative overflow-hidden transition-all max-h-0 duration-300" x-ref="container<%=goal_id%>" x-bind:style="selected === <%=goal_id%> ? 'max-height: ' + $refs.container<%=goal_id%>.scrollHeight + 'px' : ''">
                <div class="p-3 pb-0">
                  <% habits.each_with_index do |habit,index| %>
                    <label class="my-2 relative block rounded-lg border border-gray-300 bg-white shadow-sm px-6 py-4 cursor-pointer hover:border-gray-400 sm:flex sm:justify-between focus-within:ring-1 focus-within:ring-offset-2 focus-within:ring-gray-400"
                      x-data="{ selectedHabit: false }"
                      @goal-selected.window="$event.detail.selected !== <%=goal_id%> ? selectedHabit = false : ''"
                    >
                      <input type="checkbox" name="habit_ids[]"
                        x-model="selectedHabit"
                        @change="$dispatch('select-clicked', { selectedHabit, habitId: <%=habit.id%> })"
                        @select-clicked.window="console.log($event.detail), $event.detail.habitId !== <%=habit.id%> ? selectedHabit = false : ''"
                        value="<%= habit.id %>"
                        class="sr-only"
                        aria-labelledby="server-size-0-label"
                        aria-describedby="server-size-0-description-0 server-size-0-description-1"
                      >
                      <div class="flex items-center">
                        <div class="text-sm">
                          <p class="font-medium text-gray-900">
                            <%= habit.title %>
                          </p>
                          <% if habit.description.present? %>
                            <div class="text-gray-500 flex">
                              <%= habit.description %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div id="server-size-0-description-1" class="mt-2 flex text-sm sm:mt-0 sm:block sm:ml-4 sm:text-right">
                        <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                          <i class="far fa-calendar-alt mr-2"></i>
                          <p>
                            <%= habit.recurrence_on.map{|day| day.capitalize.slice(0,2)}.join(', ') %> at <%= habit.recurrence_at %>
                          </p>
                        </div>
                        <div class="mt-2 flex items-center justify-end text-sm text-gray-500 sm:mt-0 ml-6">
                          <i class="far fa-clock mr-2"></i>
                          <p>
                            <%= habit.duration %> mins
                          </p>
                        </div>
                      </div>
                      <div :class="{ 'border-transparent': !selectedHabit, 'border-gray-900': selectedHabit }" class="absolute -inset-px rounded-lg border-2 pointer-events-none" aria-hidden="true"></div>
                    </label>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="mx-auto my-8 flex">
      <%= button_tag class: 'ml-auto btn btn-primary', name: "commit" do %>
        Next<i class="fa-chevron-right far ml-1"></i>
      <% end %>
    </div>
  <% end %>
</div>

