<%= form_with model: goal, class: "space-y-4" do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, options_for_select(Goal.colors.map {|key, value| [key.titleize, Goal.colors.key(value)]}, @goal.color) %>
  </div>

  <% if policy(goal).set_template? %>
    <div class="field">
      <%= form.label :is_template %>
      <%= form.check_box :is_template %>
    </div>
    <div class="field">
      <%= form.label :template_id %>
      <%= form.text_field :template_id %>
    </div>
  <% else %>
    <%= form.hidden_field :is_template %>
    <%= form.hidden_field :template_id %>
  <% end %>

  <% if policy(goal).set_user? %>
    <div class="field">
      <%= form.label :user_id %>
      <%= form.select :user_id, User.all.collect { |u| [ u.username, u.id]} %>
    </div>
  <% else %>
    <%= form.hidden_field :user_id %>
  <% end %>

  <div class="flex my-4">
    <%= form.submit class: "btn btn-primary"  %>
    <% if goal.persisted? %>
      <%= link_to goal, method: :delete, data: { confirm: 'Are you sure? This will also delete all habits and self-reports connected to this goal.' }, class: 'ml-auto btn btn-secondary'  do %>
        <i class="icon far fa-trash-alt "></i>Delete Goal
      <% end %>
    <% end %>
  </div>
<% end %>
