<%= render 'shared/page_heading', title: "Goals", description: "Goals help you to focus on what you want to achieve and give more context to the habits you're trying to incorporate. We recommend to focus on only 1-2 goals at first." do %>
  <%= link_to 'New Goal', new_goal_path, class: "btn btn-primary flex whitespace-nowrap" %>
<% end %>

<% if policy(Goal).see_all? %>
  <div class="flex flex-row mb-4 items-center justify-end">
   <%= render 'shared/buttongroup', options: [{ title: "All", link: goals_path}, { title: "Own", link: goals_path(:show => :own)}, { title: "Templates", link: goals_path(:show => :templates)}, { title: "Trash", link: goals_path(:show => :trash)}] %>
  </div>
<% end %>

<%= render 'shared/boxed_list' do %>
  <% @goals.each_with_index do |goal,index| %>
    <%= render 'goal_list', goal: goal, index: index %>
  <% end %>
<% end %>
