<%= render 'shared/page_heading', title: "Goals", description: "Goals help you to focus on what you want to achieve and give more context to the habits you're trying to incorporate. We recommend to focus on only 1-2 goals at first." do %>
  <%= link_to 'New Goal', new_goal_path, class: "btn btn-primary flex whitespace-nowrap" %>
<% end %>
<%= render 'shared/boxed_list' do %>
  <% @goals.each_with_index do |goal,index| %>
    <%= render 'goal_list', goal: goal, index: index %>
  <% end %>
<% end %>
<% if policy(Goal).show_trash? %>
  <div class="my-8">
    <h3>Trash</h3>
    <div class="border-b border-gray-200 my-4"></div>
    <% if @trash.any? %>
      <%= render 'shared/boxed_list' do %>
        <% @trash.each_with_index do |goal,index| %>
          <%= render 'goal_list', goal: goal, index: index %>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-gray-500 text-sm">There are no items in the trash.</p>
    <% end %>
  </div>
<% end %>
