<%= render 'shared/page_heading', title: "Habits", description: "Habits are activities that you are trying to establish to achieve your goals." do %>
  <%= link_to select_habits_path, class: 'btn btn-secondary mr-2'  do %>
    <i class="icon far fa-magic "></i>Select Template
  <% end %>
  <%= link_to 'New Habit', new_habit_path, class: "btn btn-primary flex" %>
<% end %>
<%= render 'shared/boxed_list' do %>
  <% @habits.each_with_index do |habit,index| %>
    <%= render 'habit_list', habit: habit, index: index %>
  <% end %>
<% end %>

<% if policy(Habit).show_trash? %>
  <div class="my-8">
    <h3>Trash</h3>
    <div class="border-b border-gray-200 my-4"></div>
    <% if @trash.any? %>
      <%= render 'shared/boxed_list' do %>
        <% @trash.each_with_index do |habit,index| %>
          <%= render 'habit_list', habit: habit, index: index %>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-gray-500 text-sm">There are no items in the trash.</p>
    <% end %>
  </div>
<% end %>
