<%= render 'shared/page_heading', title: "Habits", description: "Habits are activities that you are trying to establish to achieve your goals." do %>
  <%= link_to select_habits_path, class: 'btn btn-secondary mr-2'  do %>
    <i class="icon far fa-magic "></i>Select Template
  <% end %>
  <%= link_to 'New Habit', new_habit_path, class: "btn btn-primary flex" %>
<% end %>
<% if policy(Habit).see_all? %>
  <div class="flex flex-row mb-4 items-center justify-end">
    <%= render 'shared/buttongroup', options: [{ title: "All", link: habits_path}, { title: "Own", link: habits_path(:show => :own)}, { title: "Templates", link: habits_path(:show => :templates)}, { title: "Trash", link: habits_path(:show => :trash)}] %>
  </div>
<% end %>

<%= render 'shared/boxed_list' do %>
  <% @habits.each_with_index do |habit,index| %>
    <%= render 'habit_list', habit: habit, index: index %>
  <% end %>
<% end %>

