<%= render 'shared/page_heading', title: "Select Habits", description: "Select a number of habits that you want to establish for yourself. You can adjust the schedule and the duration for each habit afterwards." do %>

<% end %>
<div class="grid ">
  <% if @goals.present? %>
    <%= form_with(url: clone_habits_path, method: "post") do |form| %>

      <% @goals.each do |goal_id, habits| %>
        <div class="mb-8">
        <div class="mb-4">
          <h3 class="mb-1"><%= habits.first.goal.title %></h3>
          <p class="text-sm text-gray-500"><%= habits.first.goal.description %></p>
        </div>
        <% habits.each_with_index do |habit,index| %>
          <%= render 'habit_select_list', habit: habit %>
        <% end %>
        </div>
      <% end %>
      <%= form.submit 'Select Habits', class: 'btn btn-primary mt-2' %>
    <% end %>
  <% else %>
    <p class="text-gray-500">There are currently no habits available as a template.</p>
  <% end %>
</div>