<p>
  <strong>Title:</strong>
  <%= @habit.title %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @habit.goal_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @habit.user_id %>
</p>

<p>
  <strong>Recurrence:</strong>
  <%= @habit.schedule %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @habit.duration %>
</p>

<p>
  <strong>Is template:</strong>
  <%= @habit.is_template %>
</p>

<p>
  <strong>Is skippable:</strong>
  <%= @habit.is_skippable %>
</p>

<p>
  <strong>Type:</strong>
  <%= @habit.type %>
</p>

<h3>History:</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Recurrence on</th>
      <th>Recurrence at</th>
      <th>duration</th>
      <th>is_skippable</th>
      <th>Created at</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @configs.each do |config| %>
    <tr>
      <td><%= config.title %></td>
      <td><%= config.recurrence_on %></td>
      <td><%= config.recurrence_at %></td>
      <td><%= config.duration %></td>
      <td><%= config.is_skippable %></td>
      <td><%= config.created_at %></td>
      <td>
        <% unless config.id == @habit.current_config_id %>
          <%= link_to 'Restore', @habit %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Occurrences:</h3>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>scheduled_at</th>
    <th>started_at</th>
    <th>ended_at</th>
    <th>skipped_at</th>
  </tr>
  </thead>

  <tbody>
  <% @occurrences.each do |occurrence| %>
    <tr>
      <td><%= occurrence.id %></td>
      <td><%= occurrence.scheduled_at %></td>
      <td><%= occurrence.started_at %></td>
      <td><%= occurrence.ended_at %></td>
      <td><%= occurrence.skipped_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_habit_path(@habit), class: 'btn btn-primary' %> |
<%= link_to 'Back', habits_path %>
