<%= render 'shared/page_heading', title: "Habit: #{@habit.title}", description: "" do %>
  <%= link_to 'Edit', edit_habit_path(@habit), class: 'btn btn-primary flex whitespace-nowrap' %>
<% end %>

<p>
  <strong>Goal:</strong>
  <%= @habit.goal_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @habit.user_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @habit.duration %>
</p>

<p>
  <strong>Is template:</strong>
  <%= @habit.is_template %>
</p>

<p>
  <strong>Is skippable:</strong>
  <%= @habit.is_skippable %>
</p>

<p>
  <strong>Type:</strong>
  <%= @habit.type %>
</p>

<h3 class="mt-8">History:</h3>

<%= render 'shared/table/wrapper' do %>
  <thead class="bg-gray-50">
  <tr>
    <%= render 'shared/table/heading', title: "Title" %>
    <%= render 'shared/table/heading', title: "Schedule" %>
    <%= render 'shared/table/heading', title: "Duration" %>
    <%= render 'shared/table/heading', title: "Skippable" %>
    <%= render 'shared/table/heading', title: "Created" %>
  </tr>
  </thead>
  <tbody>
  <% @configs.each_with_index do |config,index| %>
    <%= render 'shared/table/row', odd: index.even? do %>
      <%= render 'shared/table/cell' do %>
        <%= config.title %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= config.recurrence_on.map{|day| day.slice(0,2)}.join(', ') %> at <%= config.recurrence_at %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= config.duration %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= config.is_skippable %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= time_ago_in_words(config.created_at) %> ago
      <% end %>
    <% end %>
  <% end %>
  </tbody>
<% end %>


<h3 class="mt-8">Occurrences:</h3>
<%= render 'shared/table/wrapper' do %>
  <thead class="bg-gray-50">
  <tr>
    <%= render 'shared/table/heading', title: "ID" %>
    <%= render 'shared/table/heading', title: "Scheduled" %>
    <%= render 'shared/table/heading', title: "Started" %>
    <%= render 'shared/table/heading', title: "Ended" %>
    <%= render 'shared/table/heading', title: "Skipped" %>
  </tr>
  </thead>
  <tbody>
  <% @occurrences.each_with_index do |occurrence,index| %>
    <%= render 'shared/table/row', odd: index.even? do %>
      <%= render 'shared/table/cell' do %>
        <%= occurrence.id %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= occurrence.scheduled_at.strftime("%F %H:%M") %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= occurrence.started_at&.strftime("%F %H:%M") %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= occurrence.ended_at&.strftime("%F %H:%M") %>
      <% end %>
      <%= render 'shared/table/cell' do %>
        <%= occurrence.skipped_at&.strftime("%F %H:%M") %>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
<% end %>

