<!DOCTYPE html>
<html>
  <head>
    <title>yaht · Reclaim your Productivity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('yaht-icon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.15.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0/dist/chartjs-adapter-luxon.min.js"></script>
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <div class="flex flex-col flex-grow">
        <% flash.each do |type, msg| %>
          <%= render 'shared/notification', type: type do %>
            <%= msg.html_safe %>
          <% end  %>
        <% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>

  </body>
</html>
